body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
header {
  position: sticky;
  top: 0;
  background-color: brown;
  height: 100px;
}
.hamburger {
  display: none;
}
.logo4{
  width: 70px;
  height: 70px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.contain {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
}
.logo-cit {
  width: 40px;
  height: 40px;
}
.logo2 {
  width: 20px;
  height: 20px;
}
.logo3 {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  margin-left: 100px;
  margin-top: 50px;
}
.titre {
  display: flex;
  flex-direction: column;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: white;
  background-color: brown;
  height: 100px;
  align-items: center;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.footer {
  height: 50px;
  margin-top: 40%;
  background-color: brown;
  text-align: center;
  position: sticky;
  bottom: 0;
}
.footer h5{
    margin-top: 15px;
    font-size: 14px;
}
.supp {
  color: #000;
}
@media only screen and (max-width: 768px){
    .card{
       margin-top:100px;
        z-index: 1;
    }
    .citation-resp{
    display: flex;

}
}
.citation-resp{
    display: none;
}
.card {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 400px;
  background: #000;
 
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: 0.5s;
}
.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%); 
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; 
  height: 100%;
  background: #ffc107;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: 0.5s;
}
.card .details .center ul li a:hover {
  background: #ff3636;
}
.table {
  border: #000 solid 1px;
  border-collapse: collapse;
  width: 600px;
}
.contour {
  border: #000 solid 1px;
  padding: 10px;
}
tbody tr,
td,
th {
  border: 1px black solid;
  margin: 5px;
}
.auth {
  background-color: #e0dcdc;
  margin-top: 20px;
  display: flex;
  width: 250px;
  height: 30px;
  align-items: center;
  border-radius: 10px;

}
.auth h4 {
  text-align: center;
  margin-left: 10px;
}
.prenom {
  margin-left: 20px;
}
.cita {
  background-color: #e0dcdc;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  border-radius: 10px;
  font-size: 12px;
  padding: 0 20px 0 20px;
  box-shadow: 5px 5px 5px grey;
}
@media only screen and (max-width: 768px){
    .cita{
        width: 300px;
        font-size:14px;
    }
}

.officeMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}
.sous-titre {
  font-size: 8px;
}
#modText {
  width: 500px;
  height: 100px;
}
.modText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modText input {
  margin-top: 15px;
}
textarea {
  margin-top: 15px;
}
@media screen and (max-width: 1000px) {
  .footer {
    margin-top: 650px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: brown;
  margin-top: 15px;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #0b0b0c;
}

.nav-link:hover {
  color: #0f0f11;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #0f0f11;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 3;
  }

  .nav-menu.active {
    left: 0;
    z-index: 3;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}
